@font-face {
    font-family: 'LexendDeca';
    src: local('☺'),  
    url('LexendDeca-VariableFont_wght.ttf') format('truetype'), 
    }

* {
    padding: 0;
    margin: 0;
    font-family: 'LexendDeca';
    color: #dee2e6;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hidden {
    opacity: 0;
    transform: translateY(3.125rem);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

div.background img {
    position: fixed;
    background-size: cover;
    background: transparent;
}

body {
    background-image: linear-gradient(to right, #111202, #000000, #111202);
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

h1.judul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.625rem;
    color: #ffd000;
    filter: drop-shadow(0.0625rem 0.0625rem 1.25rem #ffd000);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    position: relative;
    transform: translateY(3.125rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section.hidden {
    opacity: 0;
    transform: translateY(3.125rem);
}

.open {
    scroll-snap-align: start;
}

/* NAVIGASI */
header {
    position: fixed;
    right: 50%;
    left: 50%;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav {
    display: flex;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.5rem;
}

nav ul li a {
    text-decoration: none;
    font-weight: 37.5rem;
    font-size: 1.4375rem;
    padding: 0.5rem;
    transition: all;
    transition-duration: 500ms;
}

nav ul li a:hover {
    color: #ffea00;
    filter: drop-shadow(0.3125rem 0.3125rem 1.25rem #ffea00);
}

/* WELCOME */
div.greetings {
    font-size: 5rem;
    transition-property: color;
    transition-duration: 20ms;
    display: flex;
    justify-content: space-between;
    gap: 1.875rem;
    margin-top: 16.875rem;
}

div.greetings > span{
    animation: glow 4s ease-in-out infinite;
}

@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 0.75rem #ffea00, 0 0 3.125rem #ffea00, 0 0 6.25rem #ffea00;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}

div.greetings > span:nth-child(2){
    animation-delay: 0.2s ;
}
div.greetings > span:nth-child(3){
    animation-delay: 0.4s ;
}
div.greetings > span:nth-child(4){
    animation-delay: 0.6s;
}
div.greetings > span:nth-child(5){
    animation-delay: 0.8s;
}
div.greetings > span:nth-child(6){
    animation-delay: 0.9s;
}
div.greetings > span:nth-child(7){
    animation-delay: 1s;
}

div.play {
    margin-top: 1.25rem;
    border: 0.3125rem #ffea00 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.0625rem 0.0625rem 1.25rem #ffea00;
    background-color: #ffea00;
    transition: all;
    transition-duration: 500ms;
    z-index: 9;
}

div.play a {
    padding: 0.5rem;
    transition: all;
    transition-duration: 500ms;
}

div.play:hover {
    transform: scale(1.2);
}

div.play img {
    height: 2.5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.push img {
    height: 9.375rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

span.push1 {
    display: flex;
    position: relative;
    right: 5rem;
    bottom: 3.125rem;
}

span.push2 {
    display: flex;
    position: relative;
    left: 5rem;
    bottom: 11.875rem;
}

/* About */
div.a-text img{
    width: 12.5rem;
}

div.a-text h1.a {
    font-size: 3.4375rem;
}

div.a-text h2.a span {
    color: rgb(0, 0, 192);
}

div.a-text h1.a span.a {
    animation-name: name;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes name {
    0% {
        background-color: #ffea00;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background-color: #ffdd00;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background-color: #ffd000;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75% {
        background-color: #ffc300;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background-color: #ffb700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

div.a-text h2.a {
    font-size: 2rem;
}

div.a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 3.125rem;
    padding: 3.125rem;
}

div.a-img img {
    filter: drop-shadow(0.0625rem 0.0625rem 1.875rem #dee2e6);
    border-bottom: solid 0.25rem #495057;
    border-radius: 4.375rem;
    height: 25rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* experience */
div.container2 {
    border: 0.3125rem solid #adb5bd;
    background-color: #ced4da;
    border-radius: 1%;
    height: 20.625rem;
    width: 12.5rem;
    overflow: auto;
    gap: 1.25rem;
    padding: 0.3125rem;
    margin: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 1.25rem #000000;
    transition: all;
    transition-duration: 500ms;
}

div.container2:hover {
    border: 0.3125rem solid #ffb700;
    background-color: #ffd000;
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0.0625rem 0.0625rem 1.25rem black;
}

div.b {
    display: flex;
    width: 59.375rem;
    height: auto;
    align-items: center;
    justify-content: center;
}

h4.subjudul2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 0.9375rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

p.b {
    display: flex;
    text-align: center;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 0.75rem;
}

div.container2 img {
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1%;
    background-color: hsl(0, 0%, 0%);
    display: block;
    filter: grayscale(1);
    transition: all;
    transition-duration: 500ms;
}

div.container2:hover img {
    filter: grayscale(0);
}

span.hoverme img {
    position: fixed;
    width: 28.125rem;
    height: auto;
    left: -7.5rem;
    rotate: -90deg;
    bottom: 17.5rem;
}

/* SKILL */
h4.subjudul3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffc300;
}

div.c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3125rem;
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
}

ul.hard {
    display: flex;
    list-style: none;
    padding: 1.25rem;
    margin: 0.625rem;
    gap: 6.25rem;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    width: 46.875rem;
}

div.hard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4375rem;
    border: 0.3125rem solid #6c6c6c;
    border-radius: 1.25rem;
    background-color: #6c757d;
    width: 48.125rem;
    height: 8.125rem;
    transition: all;
    transition-duration: 500ms;
}

div.hard:hover {
    background-color: #ff7b002b;
    border: 0.1875rem solid #ff7b00;
}

div.soft:hover {
    background-color: #ff7b002b;
    border: 0.1875rem solid #ff7b00;
}

div.soft {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4375rem;
    border: 0.3125rem solid #6c6c6c;
    border-radius: 1.25rem;
    background-color: #6c757d;
    width: 48.125rem;
    transition: all;
    transition-duration: 500ms;
}

ul.soft {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    list-style: none;
    gap: 1.875rem;
    padding: 0;
    align-items: center;
    justify-content: center;
}

ul.soft li {
    color: #fff;
}

ul.soft li:nth-child(1), ul.soft li:nth-child(2), ul.soft li:nth-child(3) {
    order: 1;
} 
ul.soft li:nth-child(4), ul.soft li:nth-child(5) {
    order: 2;
}

span.hover1by1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: auto;
    position: fixed;
    right: 2.5rem;
    bottom: 5.625rem;
    rotate: -35deg;
}

/* PROJECT */
div.d {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

div.container4 {
    border: 0.3125rem solid #495057;
    background-color: #adb5bd;
    border-radius: 1%;
    height: 23.125rem;
    width: 12.5rem;
    padding: 0.625rem;
    margin: 0.625rem;
    overflow: auto;
    transition: all;
    transition-duration: 500ms;
}

div.container4:hover {
    border: 0.3125rem solid #ffb700;
    background-color: #ffd000;
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0.0625rem 0.0625rem 1.25rem black;
}

div.container4 p {
    text-align: center;
    font-size: 0.75rem;
    transition: all;
    transition-duration: 500ms;
    color: #fff;
}

h4.d {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

div.container4 img {
    width: 10.625rem;
    height: 10.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    transition-duration: 500ms;
}

span.beginner img {
    width: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 11.875rem;
    left: 4.375rem;
}

/* CONTACT */
div.e {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem;
}

ul.contact {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    list-style: none;
    margin: 0.625rem;
    padding: 0.3125rem;
    height: 6.25rem;
    width: 46.875rem;
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all;
    transition-duration: 500ms;
}

.icon-text:hover {
    transform: scale(1.2);
}

.icon-text img {
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 0.3125rem;
    filter: grayscale(1);
    transition: all;
    transition-duration: 500ms;
}

.icon-text:hover img {
    filter: grayscale(0);
}

.icon-text p {
    margin: 0;
    font-size: 0.875rem;
}

div.contactme img {
    width: 15.625rem;
    position: fixed;
    display: flex;
    z-index: 0;
}

span.contactme1 img {
    position: fixed;
    right: 3.125rem;
    bottom: 9.375rem;
    rotate: -25deg;
}

span.contactme2 img {
    position: fixed;
    left: 5.625rem;
    bottom: 9.375rem;
    rotate: 25deg;
}

/* RESPONSIF */
@media only screen and (max-width:767px) {
    /* WELCOME */
    div.greetings {
        font-size: 3.125rem;
    }

    div.deskripsi span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
    }

    div.greetings {
        font-size: 3.125rem;
        transition-property: color;
        transition-duration: 20ms;
        display: flex;
        justify-content: space-between;
        gap: 1.1875rem;
        margin-top: 16.875rem;
    }

    /* NAVBAR */
    nav ul {
        gap: 1.25rem;
    }

    nav ul li a {
        font-size: 0.625rem;
    }

    /* ABOUT */    
    div.a-text h1.a {
        font-size: 2.5rem;
        text-align: center;
    }

    div.a-text h2.a {
        font-size: 1.25rem;
    }

    div.a-text p {
        font-size: 0.625rem;
    }
    
    div.a {
        gap: 0.625rem;
        text-align: center;
        height: auto;
        flex-direction: column-reverse;
    }

    div.a-img img {
        height: 15.625rem;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* EXPERIENCE */
    h4.subjudul2 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.0625rem;
    }

    div.container2 {
        border-radius: 1%;
        height: 14.375rem;
        overflow: hidden;
        position: relative;
        width: 11.25rem;
        margin: 0.3125rem;
        box-shadow: 0.3125rem 0.3125rem 1.25rem #000000;
        transition: all;
        transition-duration: 500ms;
    }

    p.b {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 75rem;
        margin: auto;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0.3125rem;
        backdrop-filter: blur(1.25rem);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease;
        transform: 0.8 ease;
    }

    div.container2:hover {
        border: 0.3125rem solid #ffb700;
        background-color: #ffd000;
        transform: scale(1.1);
        z-index: 10;
        box-shadow: 0.0625rem 0.0625rem 1.25rem black;
    }

    div.container2:hover p.b {
        max-height: 9.375rem;
    }

    div.container2:hover img {
        transform: scale(1.1);
        filter: grayscale(0);
    }

    div.container2 img {
        width: 10rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all;
        transition-duration: 500ms;
        filter: grayscale(1);
    }

    div.b {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    span.hoverme img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 15.625rem;
        height: auto;
        left: 5.625rem;
        bottom: 1.25rem;
        rotate: 0deg;
    }    

    /* SKILL */
    ul.hard {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        gap: 2.1875rem;
        height: 6.25rem;
        width: 46.875rem;
    }

    ul.soft {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 25rem;
        list-style: none;
        gap: 1.875rem;
        font-size: 0.9375rem;
    }

    .icon-text img {
        width: 2.5rem;
        height: auto;
        margin-top: 0;
        margin-bottom: 0.3125rem;
    }

    div.hard {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1875rem solid #6c6c6c;
        border-radius: 1.25rem;
        background-color: #6c757d;
        width: 23.75rem;
        height: 6.25rem;
    }

    div.soft {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4375rem;
        border: 0.1875rem solid #6c6c6c;
        border-radius: 1.25rem;
        background-color: #6c757d;
        width: 23.75rem;
    }

    span.hover1by1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18.75rem;
        height: auto;
        position: fixed;
        right: 3.125rem;
        bottom: 3.125rem;
        rotate: -5deg;
    }    

    /* PROJECT */
    div.container4 {
        border-radius: 1%;
        height: 14.375rem;
        overflow: hidden;
        position: relative;
        width: 11.25rem;
        margin: 0.3125rem;
        box-shadow: 0.3125rem 0.3125rem 1.25rem #000000;
        transition: all;
        transition-duration: 500ms;
    }

    p.d {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 1200px;
        margin: auto;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0.3125rem;
        backdrop-filter: blur(1.25rem);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease;
        transform: 0.8 ease;
    }

    div.container4:hover p.d {
        max-height: 9.375rem;
        color: white;
    }

    div.container4:hover img {
        transform: scale(1.1);
        filter: grayscale(0);
    }

    div.container4 img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9.4375rem;
        height: auto;
        transition: all;
        transition-duration: 500ms;
        filter: grayscale(1);
    }

    span.beginner img {
        width: 25rem;
        rotate: 23deg;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 3.75rem;
        left: 1.25rem;
    }

    /* CONTACT */
    ul.contact {
        display: grid;
        justify-content: space-between;
        gap: 2.1875rem;
        height: auto;
        width: auto;
    }

    
    div.contactme img {
        width: 10.625rem;
        position: fixed;
        display: flex;
        z-index: 0;
    }

    span.contactme1 img {
        position: fixed;
        right: -1.25rem;
        bottom: 12.5rem;
        rotate: -25deg;
    }

    span.contactme2 img {
        position: fixed;
        left: 0px;
        top: 16.875rem;
        rotate: 25deg;
    }
}